/* css/theme.css */
:root {
  /* Светлая тема (Light) */
  --color-bg-body: #E1D7C6;
  --color-bg-container: #695346;
  --color-text-dark: #403F3D;
  --color-text-light: #E1D7C6;
  --color-text-accent: #B0907A;
  --color-border: #C1B6AD;
}

[data-theme="dark"] {
  /* Тёмная тема (Dark) */
  --color-bg-body: #201E1D;
  --color-bg-container: #695346;
  --color-text-dark: #E1D7C6;
  --color-text-light: #403F3D;
  --color-text-accent: #B0907A;
  --color-border: #403F3D;
}

body {
  background-color: var(--color-bg-body);
  color: var(--color-text-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
}